<!DOCTYPE html>
<html>
<head>
  <title>The Workout</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <h1>The Workout</h1>
</head>

<body>
  <% if current_user %>
  <%= link_to 'Home', articles_path %> | Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
  <%= link_to 'Home', articles_path %> | <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>

  <%= yield %>
</body>
</html>
