<!DOCTYPE html>
<html>
  <head>
    <title>KelvinBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1>The BlogSpot</h1>
    <h3><%= link_to 'Home', articles_path %></h3>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
